# Security
SESSION_SECRET_KEY=

# Hack Club OAuth
HACKCLUB_CLIENT_ID=
HACKCLUB_CLIENT_SECRET=

# PostgreSQL Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Discord Webhooks
DISCORD_WEBHOOK_URL=
# Slack
ADMIN_SLACK_IDS=